#intro .rates-title b {
  font-size: 35px;
  min-height: 70px;
}
#intro .rates-description {
  min-height: 130px;
}
#intro .rates-description p {
  font-size: 14px;
  color: #7b7b93;
}
#intro .location {
  margin-bottom: 15px;
  gap: 1.5rem;
}
#intro .location a {
  padding: 7px 20px;
  font-size: 17px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#intro .location a:hover {
  background-color: #fef5e9;
  border-radius: 5px;
  color: #fd475d;
}
#intro .location a:focus {
  background-color: #fd475d;
  border-radius: 5px;
  color: white;
}
#intro .location .active {
  background-color: #fd475d;
  border-radius: 5px;
  color: white;
}